@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="padding-left: 15%; padding-right: 15%">


    <h1>Welcome, welcome, welcome!</h1>
    <h3>It's time to get hit with some stellar theatrical information!</h3><br />
    <p>
        Your options are shown below:<br />
        <a asp-action="MovieSearch" asp-controller="Home">Search for a Movie</a> ||
        <a asp-action="MovieNight" asp-controller="Home">Have a Movie Night!</a><br />
    </p>


</div>
